<h1>My Workouts</h1>

<p><%= link_to 'Add a New Workout', new_workout_url %></p>

<table>
  <thead>
    <tr>
      <th>Workout name</th>
      <th>Exercise</th>
       <th>Exercise</th>
        <th>Exercise</th>
         <th>Exercise</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @workouts.each do |workout| %>
    <tr>
      <td><%= workout.wo_name %></td>
      <td><%= workout.exercise_id %></td>
       <td><%= workout.exercise_id %></td>
        <td><%= workout.exercise_id %></td>
         <td><%= workout.exercise_id %></td>
      <td><%= link_to 'Show', workout_url(workout) %></td>
      <td><%= link_to 'Edit', edit_workout_url(workout) %></td>
      <td></td>

    </tr>
  <% end %>
  </tbody>
</table>

