<h1>Create a New Workout</h1>


<%= form_tag(workouts_url, method: 'post') do %>


  <div>
    <%= label_tag :wo_name , "Workout Name"%><br />
    <%= text_field_tag :wo_name %>
  </div>

  <div>
    <%= label_tag :exercise_id %><br />
    <% exercises = Exercise.all.order("name") %>
    <%= select_tag "exercise_id",
                   options_from_collection_for_select(exercises, :id, :name) %>
  </div>

  <div>
    <%= label_tag :exercise_id %><br />
   <% exercises = Exercise.all.order("name") %>
    <%= select_tag "exercise_id",
                   options_from_collection_for_select(exercises, :id, :name) %>
  </div>

  <div>
    <%= label_tag :exercise_id %><br />
  <% exercises = Exercise.all.order("name") %>
    <%= select_tag "exercise_id",
                   options_from_collection_for_select(exercises, :id, :name) %>
  </div>

  <% if @errors != nil %>
    <% @workout.errors.full_messages.each do |error_msg| %>
      <li><%= error_msg %></li>
      <% end %>
  <% end %>

  <div>
    <%= submit_tag "Create Workout" %>
  </div>
<% end %>
