<h1>Workout #<%= @workout.id %></h1>

<p>
  <b>Workout name:</b>
  <%= @workout.wo_name %>
</p>

<p>
  <b>Exercise:</b>
  <%= @workout.exercise_id %>
</p>

<p>
  <b>Exercise:</b>
  <%= @workout.exercise_id %>
</p>
<p>
  <b>Exercise:</b>
  <%= @workout.exercise_id %>
</p>
<p>
  <b>Exercise:</b>
  <%= @workout.exercise_id %>
</p>
<p>
  <b>Exercise:</b>
  <%= @workout.exercise_id %>
</p>

<%= link_to 'Delete this workout', workout_url(@workout), method: 'delete', data: { confirm: "Do you really want to delete this workout?" } %>
