<div class="container">
<div class="jumbotron">
  <h1><%= @exercise[:name] %></h1>
  <button type="button" class="fa fa-star mystar">Favorite</button>
  <p></p>
  <img src="<%= @exercise[:image] %>" alt="<%= @exercise[:name] %>" style="width: 300px; height=200px;">

  <p class="lead" ><%=@exercise[:descr]%></p>
  <p class="tip" > <b>TIP:</b> <%=@exercise[:tip]%></p>
     <div class="btn-group">
      <button type="button" class="btn btn-sosa dropdown-toggle" data-toggle="dropdown"> Sets
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sosa dropdown-toggle" data-toggle="dropdown"> Reps per set
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
        </ul>
    </div>
    <p></p>
    <div class="btn-group">
      Date <class="btn btn-default btn-lg">
      <input type="date" placeholder ></input>
      </button>
    </div>
</div>
<p>

</p>
</div>



